body{
    background-image: url("images\\FruitBack.png");
}
header{
    background-color:rgba(13, 3, 52,0.8);
    padding:8px;
}
header span{
    
    display: flex;
    justify-content: center;
}
header span label{
    font-size: 30px;
    color: white;
    font-family:'Franklin Gothic Medium';
    padding-top: 5px;
    padding-left: 3px;
}
header img{
    width: 40px;
}
header a{
    color:white;
    display: flex;
    justify-content: right;
    padding-right: 30px;
    margin-bottom: 3px;
}

.board{
    width:400px;
    height:400px;
    background-color: rgba(70, 43, 103,0.9);
    border: 6px solid rgb(18, 8, 37);
    margin-top: 25px;
    margin-left: 180px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.tile{
    width: 90px;
    height: 90px;

}

.x2{
    background-image: url("images\\2.jpg");
}

.x4{
    background-image: url("images\\4.jpg");
}

.x8{
    background-image: url("images\\8.jpg");
}

.x16{
    background-image: url("images\\16.jpg");
}


.x32{
    background-image: url("images\\32.jpg");
}

.x64{
    background-image: url("images\\64.jpg");
}

.x128{
    background-image: url("images\\128.jpg");
}

.x256{
    background-image: url("images\\256.jpg");
}

.x512{
    background-image: url("images\\512.jpg");
}

.x1024{
    background-image: url("images\\1024.jpg");
}

.x2048{
    background-image: url("images\\2048.jpg");
}

.x4096{
    background-image: url("images\\4096.jpg");
}

.scoreboard{
    position: absolute;
    width:320px;
    height:120px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(70, 43, 103,0.9);
    border: 6px solid rgb(18, 8, 37);
    color: white;
    margin-left:750px;
    margin-top: 40px;
}

.scoreboard h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    margin-left: 3px;
}

.scoreboard h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
    margin-left: 60px;
    font-size: 33px;
}

.last{
    position: absolute;
    background-color: rgba(70, 43, 103,0.9);
    border: 6px solid rgb(18, 8, 37);
    margin-top: 220px;
    margin-left:860px;
    font-size: 25px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.lasttile{
    width:400px;
    height:100px;
    background-color: rgba(70, 43, 103,0.9);
    border: 6px solid rgb(18, 8, 37);
    margin-top: 255px;
    margin-left:720px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

footer{
    background-color:rgba(13, 3, 52,0.8);
    margin-top: 450px;
    display: flex;
    justify-content: center;
    color: white;
}
