body{
    background-image: url("images\\FruitBack.png");
}
header{
    background-color:rgba(13, 3, 52,0.8);
    width: 100%;
    height: 100%;
}
header span{
    
    display: flex;
    justify-content: center;
}
header span label{
    font-size: 30px;
    color: white;
    font-family:'Franklin Gothic Medium';
    padding-top: 8px;
    padding-left: 3px;
}
header img{
    width: 40px;
}
header a{
    color:white;
    font-size:20px;
    justify-content: right;
    padding-right: 30px;
    margin-bottom: 3px;
    padding-bottom: 18px;
    margin-left: 5%;
}

#board{
    width:400px;
    height:400px;
    background-color: rgba(70, 43, 103,0.9);
    border: 6px solid rgb(18, 8, 37);
    display: flex;
    flex:1;
    flex-wrap: wrap;
    margin:auto;
    margin-top: 60px;
    border-radius: 8px;
}

.left-sec{
    width: 50%;
    height: 100%; /* Adjust the background color as needed */
    left: 0;
    top: 0;
    z-index: 1;
    justify-content: center;
}

.right-sec{
    width: 50%;
    height: 100%;
    position:absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    width: 90px;
    height: 90px;
    background-color: rgba(126, 104, 154, 0.7);
    border:5px solid rgb(18, 8, 37);
    display: flex;
    border-radius: 5px;

}

.x2{
    background-image: url("images\\2.png");
}

.x4{
    background-image: url("images\\4.png");
}

.x8{
    background-image: url("images\\8.png");
}

.x16{
    background-image: url("images\\16.png");
}


.x32{
    background-image: url("images\\32.png");
}

.x64{
    background-image: url("images\\64.png");
}

.x128{
    background-image: url("images\\128.png");
}

.x256{
    background-image: url("images\\256.png");
}

.x512{
    background-image: url("images\\512.png");
}

.x1024{
    background-image: url("images\\1024.png");
}

.x2048{
    background-image: url("images\\2048.png");
}

.x4096{
    background-image: url("images\\4096.png");
}

.x8192{
    background-image: url("images\\8192.png");
}

.scoreboard{
    width:320px;
    height:150px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(70, 43, 103,0.9);
    border: 6px solid rgb(18, 8, 37);
    color: white;
    margin-top: 155px;
    margin-left: 60px;
    border-radius: 7px;
}

.lower-right{
    flex: 1;
    z-index: 2;
    display: flex;
    align-items: center;
}

.upper-right{
    flex: 1;
    z-index: 2;
    display: flex;
    align-items: center;
}

.scoreboard h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    margin-left: 153px;
    position: fixed;
}

.lasttile h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    margin-left: 153px;
    position: fixed;
}

.scoreboard h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 50px;
    margin-left: 60px;
    font-size: 33px;
}

#scores{
    position: fixed;
    margin-left: 225px;
    margin-top: 65px;
}


.lasttile{
    width:320px;
    height:150px;
    background-color: rgba(70, 43, 103,0.9);
    border: 6px solid rgb(18, 8, 37);
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 60px;
    color: white;
    border-radius: 7px;
}

.gif2{
    display: flex;
    width: 150px;
    background-image: url("images/gif2.gif");
}

.gif1{
    display: flex;
    width: 150px;
    background-image: url("images/gif1.gif");
}

#temp{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    color: white;
    position: fixed;
    margin-left: 225px;
    margin-top: 65px;

}


.popup{
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left:25%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color:#333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.popup img{
    width:100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin : 30px 0 10px;
}

.popup button{
    width:100%;
    margin-top: 50px;
    padding: 10px 0;
    background:rgb(18, 8, 37);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

